<launch>

	<include file="$(find bilbot_description)/launch/description.launch" />
	<include file="$(find bilbot_control)/launch/control.launch" />
	<include file="$(find bilbot_hardware)/launch/hardware.launch"

	<node pkg="bilbot_drive" type="bilbot_base" name="hardware interface" respawn="true" >
		<param?
	</node>



</launch>