<launch>

	<node pkg="bilbot_hardware" type="rotary_encoder_node" name="right_wheel" respawn="true" >
		<remap from="wheel_state" to="wheel_state/right"/>
		<param name="pinA" type="int" value="15" />
		<param name="pinB" type="int" value="14" />
		<param name="wheel_name" type="str" value="right_wheel_joint" />
	</node>

	<node pkg="bilbot_hardware" type="rotary_encoder_node" name="left_wheel" respawn="true" >
		<remap from="wheel_state" to="wheel_state/left"/>
		<param name="pinA" type="int" value="27" />
		<param name="pinB" type="int" value="17" />
		<param name="wheel_name" value="left_wheel_joint" />
	</node>

	<node pkg="bilbot_hardware" type="message_merge_node" name="merger" respawn="true" />

	<node pkg="bilbot_hardware" type="motor_controller_node" name="right_motor" respawn="true" >
		<param name="pinA" type="int" value="23" />
		<param name="pinB" type="int" value="24" />
		<param name="side" type="int" value="0" />
	</node>

<!-- 	<node pkg="bilbot_hardware" type="motor_controller_node" name="left_motor" respawn="true" >
		<param name="pinA" type="int" value="9" />
		<param name="pinB" type="int" value="10" />
		<param name="side" type="int" value="1" />
	</node>

	<node pkg="bilbot_hardware" type="ultrasonic_node" name="right_ultrasonic" respawn="true" >
		<param name="Trig" type="int" value="5" />
		<param name="Echo" type="int" value="6" />
		<remap from="ultrasonic" to="ultrasonic/right"/>
	</node>

	<node pkg="bilbot_hardware" type="ultrasonic_node" name="middle_ultrasonic" respawn="true" >
		<param name="Trig" type="int" value="7" />
		<param name="Echo" type="int" value="8" />
		<remap from="ultrasonic" to="ultrasonic/middle"/>
	</node>

	<node pkg="bilbot_hardware" type="ultrasonic_node" name="left_ultrasonic" respawn="true" >
		<param name="Trig" type="int" value="3" />
		<param name="Echo" type="int" value="4" />
		<remap from="ultrasonic" to="ultrasonic/left"/>
	</node>

	<node pkg="bilbot_hardware" type="laser_pub_node" name="laser_publisher" respawn="true" /> -->

</launch>