<launch>

	<node pkg="bilbot_hardware" type="rotary_encoder_node" name="right_wheel" respawn="true" launch-prefix="xterm -e gdb --args">
		<remap from="wheel_state" to="wheel_state/right"/>
	</node>

<!-- 	<node pkg="bilbot_hardware" type="rotary_encoder_node" name="left_wheel" respawn="true" >
		<remap from="wheel_state" to="wheel_state/left"/>
	</node> -->

	<!-- <node pkg="bilbot_hardware" type="message_merge_node" name="merger" respawn="true" /> -->
<!-- 
	<node pkg="bilbot_hardware" type="motor_controller_node" name="right_motor" respawn="true" launch-prefix="sudo">
		<param name="command_topic" value="cmd_drive" />
		<param name="state_topic" value="wheel_state/right" />
		<param name="side" value="0" />
	</node>

	<node pkg="bilbot_hardware" type="motor_controller_node" name="left_motor" respawn="true" launch-prefix="sudo">
		<param name="command_topic" value="cmd_drive" />
		<param name="state_topic" value="wheel_state/left" />
		<param name="side" value="1" />
	</node> -->

</launch>