<launch>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="world_name" value="$(find bilbot_gazebo)/worlds/bilbot.world"/> 
  <arg name="rvizconfig" default="$(find bilbot_description)/rviz/urdf.rviz" /> 

	<include file="$(find gazebo_ros)/launch/empty_world.launch">	        
		<arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>  
	</include>	

  <!--Load URDF description of the robot-->
  <include file="$(find bilbot_description)/launch/description.launch"></include>
  <!--Load controllers for robot-->
  <include file="$(find bilbot_control)/launch/control.launch"></include>

  <!-- <node name="rviz_world" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 odom map 100" /> -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <!--Load teleoperation node to test differential drive control, remove for actual running of bilbot-->
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/bilbot_diff_controller/cmd_vel"/>
  </node>
	
    <!--Spawn bilbot-->
	<node name="bilbot_spawn" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-z 0.1 -unpause -urdf -model bilbot -param robot_description"/>
</launch>